
.Avatar{
    height: 3rem;
    width: 3rem;
    border-radius:8px;
    background: black;
}.comment{
   display:flex;
   gap: 1rem;
   padding: 0 2.5rem;
   background:var(--gray-800);
}.commentBox{
width:100%;
}.commentContent{
    background:var(--gray-700);
    border-radius:9px;
    padding: 1rem 1rem 1.56rem 1rem;
    margin-bottom: 1.125rem;

    
}.commentContent > header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}.authorInfo{
    display: flex;
    flex-direction: column;
}.deleteButton{
    background: transparent;
    font-size: -5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: var(--gray-400);
    height: 20px;

}