
.Avatar{
    height: calc(3rem + 12px);
    width: calc(3rem + 12px);
    border-radius:8px;
    background: black;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}.comment{
   display:flex;
   gap: 1rem;
   padding: 0 2.5rem;
   background:var(--gray-800);
}.commentBox{
width:100%;
}.commentContent{
    background:var(--gray-700);
    border-radius:9px;
    padding: 1rem 1rem 1.56rem 1rem;
    margin-bottom: 1.125rem;

    
}.commentContent > header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}.authorInfo{
    display: flex;
    flex-direction: column;
}.trash{
    color:var(--gray-400);
}